<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
</head>
<link rel="stylesheet" href="/static/general.css">


<body>
    <header class="items">
        <div class="header">
            <h1 class="logo"><a href="#">Myrecs</a></h1>
            <ul class="main-nav">
                <li><a href="{{url_for('search')}}">Search</a></li>
                <li><a href="{{url_for('logout')}}">Logout</a></li>
            </ul>
        </div>
    </header>

    <div class="head__container">
        <div class="subcontainer">
            <h1 class="dash__head">Welcome {{user}}, you are logged in!</h1>

            <!-- {{recommendations}} -->
            <div class="content">
                {%if purchase_product_name != None%}
                <h3 class="dash__subhead">Products related to an item you bought '{{purchase_product_name}}'</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="columns" class="columns_5">
            {%for key, value in purchase_product_rec.items()%}
            <a href="/{{value[0]}} ">
                <figure class="productContainers" style="width: 100%; ">
                    <img src="{{value[2]}}" alt="">
                    <figcaption>{{value[0]}}</figcaption>
                    $<span class="price">{{value[1]}}</span>
                </figure>
            </a>
            {%endfor%}
        </div>

        {%endif%}
    </div>



    <div>
        <div class="subcontainer2">
            {%if view_product_name != None%}
            <h3 class="dash__head2">Products related to '{{view_product_name}}'</h3>
        </div>
        <div class="container">
            <div id="columns1" class="columns_5">
                {%for key, value in view_product_rec.items()%}

                <a href="/{{value[0]}} ">
                    <figure class="productContainers" style="width: 100%;">
                        <img src="{{value[2]}}" alt="">
                        <figcaption>{{value[0]}}</figcaption>
                        $<span class="price">{{value[1]}}</span>
                    </figure>
                </a>
                {%endfor%}
            </div>
            {%endif%}
        </div>

        <div>
            <div class="subcontainer2">
                {%if price_rec_dic != None%}
                <h3>Based on your spending:</h3>
            </div>
            <div class="container">
                <div id="columns1" class="columns_5">
                    {%for i in price_rec_dic%} {%for key, value in i.items()%}
                    <a href="/{{value[0]}} ">
                        <figure class="productContainers" style="width: 100%;">
                            <img src="{{value[2]}}" alt="">
                            <figcaption>{{value[0]}}</figcaption>
                            <span class="price">{{value[1]}}</span>
                        </figure>
                    </a>
                    {%endfor%} {%endfor%}
                </div>
                {%endif%}
            </div>
</body>

</html>